<dl>
	<dt><label for="name">Location:</label></dt>
	<dd>(<span id="lat"></span>, <span id="lng"></span>)</dd>
	<dd id="address" style="margin-left: 104px; "></dd>
</dl>
<dl>
	<dt><label>Note:</label></dt>
	<dd>Each user can have only one location. Adding a new location will remove your previous location.</dd>
</dl>
<dl style="text-align: right;">
	<dd>
		<button type="button" name="submit" id="submit" onclick="return add_location();">Add</button>
		<button type="button" name="cancel" id="cancel" onclick="return cancel_solo();">Cancel</button>
	</dd>
</dl>